@inherits LayoutComponentBase

<div class="main-layout">
    <Sidebar />

    <section class="layout-content">
        <TopNavbar />
        <main class="content-surface">
            @Body
        </main>
    </section>
</div>
